@import "./default.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=PT+Serif:ital@1&display=swap');

.wrapper {
    margin: 0 auto;
    width: 1100px;

}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.header-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.burger-line {
    border-bottom: 2px solid #000000;
    width: 20px;
    margin: 8px 0px;
}

.header-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}

.lang {
    font-size: 14px;
}

.lang:first-child {
    font-weight: 900;
    margin-right: 9px;
}

.header-logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

.header-between:last-child {
    justify-content: end;
}