@import "./default.css";

body {
    font-family: "Rubik";
}


.wrapper {
    margin: 0 auto;
    width: 1100px;

}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.header-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.burger-line {
    border-bottom: 2px solid #000000;
    width: 20px;
    margin: 8px 0px;
}

.header-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}

.lang {
    font-size: 14px;
}

.lang.active {
    font-weight: 900;
}

.lang:first-child {
    margin-right: 9px;
}

.header-logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

.header-between:last-child {
    justify-content: end;
}

.main .container {
    height: 350px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.main-large {
    display: flex;
    width: 64%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .container:first-child {
    margin-bottom: 30px;
}

.main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.line {
    width: 50%;
    border: 1px solid black;
}

.main-medium {
    display: flex;
    width: 32%;
    justify-content: space-between;
}

.main-small {
    width: 47%;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    transition: 0.4s;
}

.cover:hover {
    background-color: #000000;
    animation: scaletest 2s infinite;
}

@keyframes scaletest {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}